.header-btn {
    top: 0;
    display: flex;
    position: fixed;
    height: 15%;
  }

  .btn-login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .btn-lgn {
    font-size: 20px;
    font-family: serif;
    width: 110px;
    height: 50px;
    background-color: antiquewhite;
  }

  .btn-lgn:hover {
    background: linear-gradient(to top, #8b8b8b, #bbb9b7, #d6d5d4);
    cursor:pointer;

  }

  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 1400px) {
    .btn-lgn {
      width: 12px;
    }

  }